android/Payment.Binding/obj/
android/Payment.Binding/bin/
android/PayTabsSample/obj/
android/PayTabsSample/bin/
android/CardScanBindingLib/obj/
android/CardScanBindingLib/bin/
ios/PaymentSDK.Binding/PaymentSDK.Binding/bin/
ios/PaymentSDK.Binding/PaymentSDK.Binding/obj/
ios/PayTabsSample/PayTabsSample/bin/
ios/PayTabsSample/PayTabsSample/obj/

android/PayTabsSample/.vs/Pt2AndroidApp/xs/UserPrefs.xml
android/PayTabsSample/.vs/Pt2AndroidApp/xs/project-cache/Pt2AndroidApp-Debug.json
android/PayTabsSample/.vs/Pt2AndroidApp/xs/project-cache/PaymentSDK.Binding-Release.json
android/PayTabsSample/.vs/Pt2AndroidApp/xs/project-cache/Pt2AndroidApp-Release.json
